---
Checks: "-*,\
boost-*,\
bugprone,\
-bugprone-implicit-widening-of-multiplication-result,\
-bugprone-easily-swappable-parameters,\
-bugprone-narrowing-conversions,\
bugprone-macro-parentheses,\
bugprone-misplaced-widening-cast,\
bugprone-suspicious-semicolon,\
bugprone-unused-raii,\
bugprone-unused-return-value,\
cert-*,\
-cert-err33-c,\
-cert-err58-cpp,\
-cert-dcl37-c,\
-cert-dcl51-cpp,\
-cert-msc30-c,\
-cert-msc50-cpp,\
clang-analyzer-*,\
-clang-analyzer-security.insecureAPI.*,\
-cppcoreguidelines-*,\
cppcoreguidelines-explicit-virtual-functions,\
cppcoreguidelines-init-variables,\
cppcoreguidelines-slicing,\
-cppcoreguidelines-avoid-*,\
-cppcoreguidelines-macro-usage,\
-cppcoreguidelines-narrowing-conversions,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-pro-type-*,\
-cppcoreguidelines-special-*,\
-google-readability-casting,\
hicpp-*,\
-hicpp-braces-around-statements,\
-hicpp-explicit-conversions,\
-hicpp-member-init,\
-hicpp-no-malloc,\
-hicpp-signed-bitwise,\
-hicpp-special-member-functions,\
-hicpp-uppercase-literal-suffix,\
-hicpp-vararg,\
misc-*,\
-misc-const-correctness,\
-misc-include-cleaner,\
-misc-non-private-member-variables-in-classes,\
-misc-no-recursion,\
-misc-unused-parameters,\
-misc-unconventional-assign-operator,\
-misc-use-anonymous-namespace,\
-misc-use-internal-linkage,\
modernize-*,\
-modernize-macro-to-enum,\
-modernize-use-default-member-init,\
-modernize-use-nodiscard,\
-modernize-use-trailing-return-type,\
-modernize-use-using,\
performance-*,\
-performance-avoid-endl,\
portability-*,\
-readability-*,\
-*magic-numbers,\
-*avoid-c-arrays,\
-*-no-array-decay,\
-*-use-equals-default,\
"
WarningsAsErrors: 'clang-*'
HeaderFilterRegex: 'include/snmp_pp/.*'
FormatStyle:     none
User:            clausklein
...

